In [1]:
%pip install --upgrade DBcm

Requirement already satisfied: DBcm in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (2.1)
Requirement already satisfied: mysql-connector-python in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (from DBcm) (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python->DBcm) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
config = {

    "user": "swimuser",
    "password": "swimuserpasswd",
    "database": "swimclubdb",
    "host": "localhost",    
}

In [3]:
with open("ingest_data.ipynb") as f:
    data = f.read()

In [4]:
import DBcm

In [5]:
with DBcm.UseDatabase(config) as db:
    SQL = """ show tables """
    db.execute(SQL)
    results = db.fetchall()

ConnectionError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [ ]:
results

[('events',), ('people',), ('swimclubs',), ('swimmers',), ('times',)]

In [ ]:
type(  ("swimclubs")  )

str

In [ ]:
type (  ("swimclubs,") )

str

In [ ]:
results

[('events',), ('people',), ('swimclubs',), ('swimmers',), ('times',)]

In [ ]:
print(dir(DBcm))

['ConnectionError', 'CredentialsError', 'SQLError', 'UseDatabase', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'mysql', 'sqlite3']

In [ ]:
with DBcm.UseDatabase(config) as db:
    SQL = """show databases"""
    db.execute(SQL)
    results = db.fetchall()

In [ ]:
results

[('information_schema',), ('swimclubdb',)]

In [ ]:
with DBcm.UseDatabase(config) as db:
    SQL = """ describe swimmers"""
    db.execute(SQL)
    results = db.fetchall()

In [ ]:
results

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(64)', 'YES', '', None, ''),
 ('age', 'int(11)', 'YES', '', None, '')]

In [ ]:
# SQL = """    
#     INSERT INTO swimclubs
#     (swimmername, swimmerage, swimmerdistance, swimmerstroke)
#     VALUES
#     ('Steve', 5, '100M', 'Back')
# """

In [ ]:
print(SQL)

 describe swimmers

In [ ]:
# with DBcm.UseDatabase(config) as db:
#     db.execute(SQL)

In [ ]:
SQL = """ 
    SELECT * from swimmers
"""
with DBcm.UseDatabase(config) as db:
    db.execute(SQL)
    rows = db.fetchall()   #  db.fetchone() and db.fetchmany()

In [ ]:
rows

[(1, 'Erika', 15),
 (2, 'Katie', 9),
 (3, 'Emma', 13),
 (4, 'Abi', 10),
 (5, 'Aurora', 13),
 (6, 'Alison', 14),
 (7, 'Ruth', 13),
 (8, 'Owen', 15),
 (9, 'Hannah', 13),
 (10, 'Tasmin', 15),
 (11, 'Darius', 13),
 (12, 'Lizzie', 14),
 (13, 'Blake', 15),
 (14, 'Carl', 15),
 (15, 'Calvin', 9),
 (16, 'Maria', 9),
 (17, 'Mike', 15),
 (18, 'Bill', 18),
 (19, 'Ali', 12),
 (20, 'Elba', 14),
 (21, 'Dave', 17),
 (22, 'Chris', 17),
 (23, 'Erika', 15),
 (24, 'Katie', 9),
 (25, 'Emma', 13),
 (26, 'Abi', 10),
 (27, 'Aurora', 13),
 (28, 'Alison', 14),
 (29, 'Ruth', 13),
 (30, 'Owen', 15),
 (31, 'Hannah', 13),
 (32, 'Tasmin', 15),
 (33, 'Darius', 13),
 (34, 'Lizzie', 14),
 (35, 'Blake', 15),
 (36, 'Carl', 15),
 (37, 'Calvin', 9),
 (38, 'Maria', 9),
 (39, 'Mike', 15),
 (40, 'Bill', 18),
 (41, 'Ali', 12),
 (42, 'Elba', 14),
 (43, 'Dave', 17),
 (44, 'Chris', 17),
 (45, 'Erika', 15),
 (46, 'Katie', 9),
 (47, 'Emma', 13),
 (48, 'Abi', 10),
 (49, 'Aurora', 13),
 (50, 'Alison', 14),
 (51, 'Ruth', 13),
 (52, 'Owen', 15),
 (53, 'Hannah', 13),
 (54, 'Tasmin', 15),
 (55, 'Darius', 13),
 (56, 'Lizzie', 14),
 (57, 'Blake', 15),
 (58, 'Carl', 15),
 (59, 'Calvin', 9),
 (60, 'Maria', 9),
 (61, 'Mike', 15),
 (62, 'Bill', 18),
 (63, 'Ali', 12),
 (64, 'Elba', 14),
 (65, 'Dave', 17),
 (66, 'Chris', 17)]

In [ ]:
# data = set()
# swimmers = (
#     ("Steve", 21, "150M", "Breast"),
#     ("Alex", 19, "100M", "Back"),
#     ("Darius", 9, "50M", "Stroke")
# )
# data.add(swimmers)

In [ ]:
# SQL = """    
#     INSERT INTO people
#     (name, age, location)
#     VALUES
#     (%s, %s, %s, %s)
# """


SQL = """    
    INSERT INTO swimclubs
    (swimmername, swimmerage, swimmerdistance, swimmerstroke)
    VALUES
    (%s, %s, %s, %s)
"""

In [ ]:
# for swimmer in swimmers:
#     print(swimmer)

In [ ]:
# for swimmer in swimmers:
#     with DBcm.UseDatabase(config) as db:
#         db.execute(SQL, swimmer)

In [ ]:
import os 
swimdata = "swimdata/"

def read_swimmer_data(swimdata):
    name, age, distance, stroke = swimdata.removesuffix(".txt").split("-")
    return name, age, distance, stroke

def swimmerinfo(pathway):
    files = [file for file in os.listdir(pathway) if file.endswith(".txt")]
    data = set()
    for file in files:
        name, age, distance, stroke = read_swimmer_data(file)
        data.add((name, age, distance, stroke))
    return data
        # file_path = os.path.join(swimdata, file)
        # swimmer_data = read_swimmer_data(file_path)
        # db.execute(SQL, swimmer_data)

In [ ]:
data = swimmerinfo("swimdata/")

In [ ]:

swimmers = set()
events = set()


for n, a, d, s in data:
    swimmers.add( (n, a) )
    events.add( (d,  s) )

In [ ]:
swimmers

{('Abi', '10'),
 ('Ali', '12'),
 ('Alison', '14'),
 ('Aurora', '13'),
 ('Bill', '18'),
 ('Blake', '15'),
 ('Calvin', '9'),
 ('Carl', '15'),
 ('Chris', '17'),
 ('Darius', '13'),
 ('Dave', '17'),
 ('Elba', '14'),
 ('Emma', '13'),
 ('Erika', '15'),
 ('Hannah', '13'),
 ('Katie', '9'),
 ('Lizzie', '14'),
 ('Maria', '9'),
 ('Mike', '15'),
 ('Owen', '15'),
 ('Ruth', '13'),
 ('Tasmin', '15')}

In [ ]:
"Darius-13-Fly-100.txt".removesuffix(".txt").split("-")

['Darius', '13', 'Fly', '100']

In [ ]:
# time = set()

# for t, ts in data:
    
#     time.add( (t, ts) )

NameError: name 'data' is not defined

In [ ]:
#time

In [ ]:
SQL = """    
    INSERT INTO swimmers
    (name, age)
    VALUES
    (%s, %s)
"""

In [ ]:
with DBcm.UseDatabase(config) as db:
     db.executemany(SQL, swimmers)

In [ ]:
SQL = """    
    INSERT INTO events
    (distance, stroke)
    VALUES
    (%s, %s)
"""

In [ ]:
with DBcm.UseDatabase(config) as db:
     db.executemany(SQL, events)

In [ ]:
SQL = """SELECT * FROM swimmers"""

with DBcm.UseDatabase(config) as db:
    db.execute(SQL)
    data = db.fetchall()

data

[(1, 'Erika', 15),
 (2, 'Katie', 9),
 (3, 'Emma', 13),
 (4, 'Abi', 10),
 (5, 'Aurora', 13),
 (6, 'Alison', 14),
 (7, 'Ruth', 13),
 (8, 'Owen', 15),
 (9, 'Hannah', 13),
 (10, 'Tasmin', 15),
 (11, 'Darius', 13),
 (12, 'Lizzie', 14),
 (13, 'Blake', 15),
 (14, 'Carl', 15),
 (15, 'Calvin', 9),
 (16, 'Maria', 9),
 (17, 'Mike', 15),
 (18, 'Bill', 18),
 (19, 'Ali', 12),
 (20, 'Elba', 14),
 (21, 'Dave', 17),
 (22, 'Chris', 17),
 (23, 'Erika', 15),
 (24, 'Katie', 9),
 (25, 'Emma', 13),
 (26, 'Abi', 10),
 (27, 'Aurora', 13),
 (28, 'Alison', 14),
 (29, 'Ruth', 13),
 (30, 'Owen', 15),
 (31, 'Hannah', 13),
 (32, 'Tasmin', 15),
 (33, 'Darius', 13),
 (34, 'Lizzie', 14),
 (35, 'Blake', 15),
 (36, 'Carl', 15),
 (37, 'Calvin', 9),
 (38, 'Maria', 9),
 (39, 'Mike', 15),
 (40, 'Bill', 18),
 (41, 'Ali', 12),
 (42, 'Elba', 14),
 (43, 'Dave', 17),
 (44, 'Chris', 17),
 (45, 'Erika', 15),
 (46, 'Katie', 9),
 (47, 'Emma', 13),
 (48, 'Abi', 10),
 (49, 'Aurora', 13),
 (50, 'Alison', 14),
 (51, 'Ruth', 13),
 (52, 'Owen', 15),
 (53, 'Hannah', 13),
 (54, 'Tasmin', 15),
 (55, 'Darius', 13),
 (56, 'Lizzie', 14),
 (57, 'Blake', 15),
 (58, 'Carl', 15),
 (59, 'Calvin', 9),
 (60, 'Maria', 9),
 (61, 'Mike', 15),
 (62, 'Bill', 18),
 (63, 'Ali', 12),
 (64, 'Elba', 14),
 (65, 'Dave', 17),
 (66, 'Chris', 17),
 (67, 'Erika', 15),
 (68, 'Katie', 9),
 (69, 'Emma', 13),
 (70, 'Abi', 10),
 (71, 'Aurora', 13),
 (72, 'Alison', 14),
 (73, 'Ruth', 13),
 (74, 'Owen', 15),
 (75, 'Hannah', 13),
 (76, 'Tasmin', 15),
 (77, 'Darius', 13),
 (78, 'Lizzie', 14),
 (79, 'Blake', 15),
 (80, 'Carl', 15),
 (81, 'Calvin', 9),
 (82, 'Maria', 9),
 (83, 'Mike', 15),
 (84, 'Bill', 18),
 (85, 'Ali', 12),
 (86, 'Elba', 14),
 (87, 'Dave', 17),
 (88, 'Chris', 17)]