In [86]:
%pip install --upgrade DBcm

Requirement already satisfied: DBcm in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (2.1)
Requirement already satisfied: mysql-connector-python in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (from DBcm) (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\denis\appdata\local\programs\python\python312\lib\site-packages (from mysql-connector-python->DBcm) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [87]:
config = {
    "user": "swimmeruser",
    "password": "swimmers",
    "database": "swimclubdb",
    "host": "localhost",
    "port": 3308,
}

In [88]:
with open("ingest_data.ipynb", encoding="utf-8") as f:
    data = f.read()

In [89]:
import DBcm

In [90]:
with DBcm.UseDatabase(config) as db:
    SQL = """ show tables """
    db.execute(SQL)
    results = db.fetchall()

In [91]:
results

[('events',), ('swimmers',), ('times',)]

In [92]:
type(  ("swimclubs")  )

str

In [93]:
type (  ("swimclubs,") )

str

In [94]:
results

[('events',), ('swimmers',), ('times',)]

In [95]:
print(dir(DBcm))

['ConnectionError', 'CredentialsError', 'SQLError', 'UseDatabase', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'mysql', 'sqlite3']

In [96]:
with DBcm.UseDatabase(config) as db:
    SQL = """show databases"""
    db.execute(SQL)
    results = db.fetchall()

In [97]:
results

[('information_schema',), ('swimclubdb',)]

In [98]:
with DBcm.UseDatabase(config) as db:
    SQL = """ describe swimmers"""
    db.execute(SQL)
    results = db.fetchall()

In [99]:
results

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(64)', 'YES', '', None, ''),
 ('age', 'int(11)', 'YES', '', None, '')]

In [100]:
# SQL = """    
#     INSERT INTO swimclubs
#     (swimmername, swimmerage, swimmerdistance, swimmerstroke)
#     VALUES
#     ('Steve', 5, '100M', 'Back')
# """

In [101]:
print(SQL)

 describe swimmers

In [102]:
# with DBcm.UseDatabase(config) as db:
#     db.execute(SQL)

In [103]:
# SQL = """ 
#     SELECT * from swimmers
# """
# with DBcm.UseDatabase(config) as db:
#     db.execute(SQL)
#     rows = db.fetchall()   #  db.fetchone() and db.fetchmany()

In [104]:
# rows

In [105]:
# data = set()
# swimmers = (
#     ("Steve", 21, "150M", "Breast"),
#     ("Alex", 19, "100M", "Back"),
#     ("Darius", 9, "50M", "Stroke")
# )
# data.add(swimmers)

In [106]:
# # SQL = """    
# #     INSERT INTO people
# #     (name, age, location)
# #     VALUES
# #     (%s, %s, %s, %s)
# # """


# SQL = """    
#     INSERT INTO swimclubs
#     (swimmername, swimmerage, swimmerdistance, swimmerstroke)
#     VALUES
#     (%s, %s, %s, %s)
# """

In [107]:
# for swimmer in swimmers:
#     print(swimmer)

In [108]:
# for swimmer in swimmers:
#     with DBcm.UseDatabase(config) as db:
#         db.execute(SQL, swimmer)

In [109]:
import os 
swimdata = "swimdata/"

def read_swimmer_data(swimdata):
    name, age, distance, stroke = swimdata.removesuffix(".txt").split("-")
    return name, age, distance, stroke

def swimmerinfo(pathway):
    files = [file for file in os.listdir(pathway) if file.endswith(".txt")]
    data = set()
    for file in files:
        name, age, distance, stroke = read_swimmer_data(file)
        data.add((name, age, distance, stroke))
    return data
        # file_path = os.path.join(swimdata, file)
        # swimmer_data = read_swimmer_data(file_path)
        # db.execute(SQL, swimmer_data)

In [110]:
data = swimmerinfo("swimdata/")

In [111]:

swimmers = set()
events = set()


for n, a, d, s in data:
    swimmers.add( (n, a) )
    events.add( (d,  s) )

In [112]:
swimmers

{('Abi', '10'),
 ('Ali', '12'),
 ('Alison', '14'),
 ('Aurora', '13'),
 ('Bill', '18'),
 ('Blake', '15'),
 ('Calvin', '9'),
 ('Carl', '15'),
 ('Chris', '17'),
 ('Darius', '13'),
 ('Dave', '17'),
 ('Elba', '14'),
 ('Emma', '13'),
 ('Erika', '15'),
 ('Hannah', '13'),
 ('Katie', '9'),
 ('Lizzie', '14'),
 ('Maria', '9'),
 ('Mike', '15'),
 ('Owen', '15'),
 ('Ruth', '13'),
 ('Tasmin', '15')}

In [113]:
"Darius-13-Fly-100.txt".removesuffix(".txt").split("-")

['Darius', '13', 'Fly', '100']

In [114]:
# time = set()

# for t, ts in data:
    
#     time.add( (t, ts) )

In [115]:
#time

In [116]:
SQL = """    
    INSERT INTO swimmers
    (name, age)
    VALUES
    (%s, %s)
"""

In [117]:
with DBcm.UseDatabase(config) as db:
     db.executemany(SQL, swimmers)

In [118]:
SQL = """    
    INSERT INTO events
    (distance, stroke)
    VALUES
    (%s, %s)
"""

In [119]:
with DBcm.UseDatabase(config) as db:
     db.executemany(SQL, events)

In [120]:
SQL = """SELECT * FROM swimmers"""

with DBcm.UseDatabase(config) as db:
    db.execute(SQL)
    data = db.fetchall()

data

[(749, 'Dave', 17),
 (750, 'Erika', 15),
 (751, 'Carl', 15),
 (752, 'Alison', 14),
 (753, 'Ali', 12),
 (754, 'Blake', 15),
 (755, 'Emma', 13),
 (756, 'Ruth', 13),
 (757, 'Hannah', 13),
 (758, 'Tasmin', 15),
 (759, 'Mike', 15),
 (760, 'Aurora', 13),
 (761, 'Lizzie', 14),
 (762, 'Abi', 10),
 (763, 'Darius', 13),
 (764, 'Katie', 9),
 (765, 'Chris', 17),
 (766, 'Owen', 15),
 (767, 'Maria', 9),
 (768, 'Elba', 14),
 (769, 'Bill', 18),
 (770, 'Calvin', 9),
 (771, 'Dave', 17),
 (772, 'Erika', 15),
 (773, 'Carl', 15),
 (774, 'Alison', 14),
 (775, 'Ali', 12),
 (776, 'Blake', 15),
 (777, 'Emma', 13),
 (778, 'Ruth', 13),
 (779, 'Hannah', 13),
 (780, 'Tasmin', 15),
 (781, 'Mike', 15),
 (782, 'Aurora', 13),
 (783, 'Lizzie', 14),
 (784, 'Abi', 10),
 (785, 'Darius', 13),
 (786, 'Katie', 9),
 (787, 'Chris', 17),
 (788, 'Owen', 15),
 (789, 'Maria', 9),
 (790, 'Elba', 14),
 (791, 'Bill', 18),
 (792, 'Calvin', 9),
 (793, 'Dave', 17),
 (794, 'Erika', 15),
 (795, 'Carl', 15),
 (796, 'Alison', 14),
 (797, 'Ali', 12),
 (798, 'Blake', 15),
 (799, 'Emma', 13),
 (800, 'Ruth', 13),
 (801, 'Hannah', 13),
 (802, 'Tasmin', 15),
 (803, 'Mike', 15),
 (804, 'Aurora', 13),
 (805, 'Lizzie', 14),
 (806, 'Abi', 10),
 (807, 'Darius', 13),
 (808, 'Katie', 9),
 (809, 'Chris', 17),
 (810, 'Owen', 15),
 (811, 'Maria', 9),
 (812, 'Elba', 14),
 (813, 'Bill', 18),
 (814, 'Calvin', 9),
 (815, 'Dave', 17),
 (816, 'Erika', 15),
 (817, 'Carl', 15),
 (818, 'Alison', 14),
 (819, 'Ali', 12),
 (820, 'Blake', 15),
 (821, 'Emma', 13),
 (822, 'Ruth', 13),
 (823, 'Hannah', 13),
 (824, 'Tasmin', 15),
 (825, 'Mike', 15),
 (826, 'Aurora', 13),
 (827, 'Lizzie', 14),
 (828, 'Abi', 10),
 (829, 'Darius', 13),
 (830, 'Katie', 9),
 (831, 'Chris', 17),
 (832, 'Owen', 15),
 (833, 'Maria', 9),
 (834, 'Elba', 14),
 (835, 'Bill', 18),
 (836, 'Calvin', 9),
 (837, 'Dave', 17),
 (838, 'Erika', 15),
 (839, 'Carl', 15),
 (840, 'Alison', 14),
 (841, 'Ali', 12),
 (842, 'Blake', 15),
 (843, 'Emma', 13),
 (844, 'Ruth', 13),
 (845, 'Hannah', 13),
 (846, 'Tasmin', 15),
 (847, 'Mike', 15),
 (848, 'Aurora', 13),
 (849, 'Lizzie', 14),
 (850, 'Abi', 10),
 (851, 'Darius', 13),
 (852, 'Katie', 9),
 (853, 'Chris', 17),
 (854, 'Owen', 15),
 (855, 'Maria', 9),
 (856, 'Elba', 14),
 (857, 'Bill', 18),
 (858, 'Calvin', 9),
 (859, 'Dave', 17),
 (860, 'Erika', 15),
 (861, 'Carl', 15),
 (862, 'Alison', 14),
 (863, 'Ali', 12),
 (864, 'Blake', 15),
 (865, 'Emma', 13),
 (866, 'Ruth', 13),
 (867, 'Hannah', 13),
 (868, 'Tasmin', 15),
 (869, 'Mike', 15),
 (870, 'Aurora', 13),
 (871, 'Lizzie', 14),
 (872, 'Abi', 10),
 (873, 'Darius', 13),
 (874, 'Katie', 9),
 (875, 'Chris', 17),
 (876, 'Owen', 15),
 (877, 'Maria', 9),
 (878, 'Elba', 14),
 (879, 'Bill', 18),
 (880, 'Calvin', 9),
 (881, 'Dave', 17),
 (882, 'Erika', 15),
 (883, 'Carl', 15),
 (884, 'Alison', 14),
 (885, 'Ali', 12),
 (886, 'Blake', 15),
 (887, 'Emma', 13),
 (888, 'Ruth', 13),
 (889, 'Hannah', 13),
 (890, 'Tasmin', 15),
 (891, 'Mike', 15),
 (892, 'Aurora', 13),
 (893, 'Lizzie', 14),
 (894, 'Abi', 10),
 (895, 'Darius', 13),
 (896, 'Katie', 9),
 (897, 'Chris', 17),
 (898, 'Owen', 15),
 (899, 'Maria', 9),
 (900, 'Elba', 14),
 (901, 'Bill', 18),
 (902, 'Calvin', 9),
 (903, 'Ali', 12),
 (904, 'Aurora', 13),
 (905, 'Katie', 9),
 (906, 'Mike', 15),
 (907, 'Owen', 15),
 (908, 'Erika', 15),
 (909, 'Blake', 15),
 (910, 'Bill', 18),
 (911, 'Hannah', 13),
 (912, 'Chris', 17),
 (913, 'Maria', 9),
 (914, 'Ruth', 13),
 (915, 'Abi', 10),
 (916, 'Alison', 14),
 (917, 'Carl', 15),
 (918, 'Lizzie', 14),
 (919, 'Dave', 17),
 (920, 'Tasmin', 15),
 (921, 'Darius', 13),
 (922, 'Calvin', 9),
 (923, 'Elba', 14),
 (924, 'Emma', 13),
 (925, 'Ali', 12),
 (926, 'Aurora', 13),
 (927, 'Katie', 9),
 (928, 'Mike', 15),
 (929, 'Owen', 15),
 (930, 'Erika', 15),
 (931, 'Blake', 15),
 (932, 'Bill', 18),
 (933, 'Hannah', 13),
 (934, 'Chris', 17),
 (935, 'Maria', 9),
 (936, 'Ruth', 13),
 (937, 'Abi', 10),
 (938, 'Alison', 14),
 (939, 'Carl', 15),
 (940, 'Lizzie', 14),
 (941, 'Dave', 17),
 (942, 'Tasmin', 15),
 (943, 'Darius', 13),
 (944, 'Calvin', 9),
 (945, 'Elba', 14),
 (946, 'Emma', 13),
 (947, 'Ali', 12),
 (948, 'Aurora', 13),
 (949, 'Katie', 9),
 (950, 'Mike', 15),
 (951, 'Owen', 15),
 (952, 'Erika', 15),
 (953, 'Blake', 15),
 (954, 'Bill', 18),
 (955, 'Hannah', 13),
 (956, 'Chris', 17),
 (957, 'Maria', 9),
 (958, 'Ruth', 13),
 (959, 'Abi', 10),
 (960, 'Alison', 14),
 (961, 'Carl', 15),
 (962, 'Lizzie', 14),
 (963, 'Dave', 17),
 (964, 'Tasmin', 15),
 (965, 'Darius', 13),
 (966, 'Calvin', 9),
 (967, 'Elba', 14),
 (968, 'Emma', 13)]

In [121]:
swimmerid = """SELECT id FROM swimmers"""
eventid = """SELECT id FROM events"""

with DBcm.UseDatabase(config) as db:
    db.execute(swimmerid)
    data = db.fetchall()



    db.execute(eventid)
    data2 = db.fetchall()

In [122]:
data2

[(443,),
 (444,),
 (445,),
 (446,),
 (447,),
 (448,),
 (449,),
 (450,),
 (451,),
 (452,),
 (453,),
 (454,),
 (455,),
 (456,),
 (457,),
 (458,),
 (459,),
 (460,),
 (461,),
 (462,),
 (463,),
 (464,),
 (465,),
 (466,),
 (467,),
 (468,),
 (469,),
 (470,),
 (471,),
 (472,),
 (473,),
 (474,),
 (475,),
 (476,),
 (477,),
 (478,),
 (479,),
 (480,),
 (481,),
 (482,),
 (483,),
 (484,),
 (485,),
 (486,),
 (487,),
 (488,),
 (489,),
 (490,),
 (491,),
 (492,),
 (493,),
 (494,),
 (495,),
 (496,),
 (497,),
 (498,),
 (499,),
 (500,),
 (501,),
 (502,),
 (503,),
 (504,),
 (505,),
 (506,),
 (507,),
 (508,),
 (509,),
 (510,),
 (511,),
 (512,),
 (513,),
 (514,),
 (515,),
 (516,),
 (517,),
 (518,),
 (519,),
 (520,),
 (521,),
 (522,),
 (523,),
 (524,),
 (525,),
 (526,),
 (527,),
 (528,),
 (529,),
 (530,),
 (531,),
 (532,),
 (533,),
 (534,),
 (535,),
 (536,),
 (537,),
 (538,),
 (539,),
 (540,),
 (541,),
 (542,),
 (543,),
 (544,),
 (545,),
 (546,),
 (547,),
 (548,),
 (549,),
 (550,),
 (551,),
 (552,),
 (553,),
 (554,),
 (555,),
 (556,),
 (557,),
 (558,),
 (559,),
 (560,),
 (561,),
 (562,),
 (563,),
 (564,),
 (565,),
 (566,),
 (567,),
 (568,),
 (569,),
 (570,),
 (571,),
 (572,)]

In [123]:
import os

In [124]:
from datetime import datetime
import DBcm

# Fetch swimmer IDs from the swimmers table
swimmer_query = "SELECT id FROM swimmers"
with DBcm.UseDatabase(config) as db:
    db.execute(swimmer_query)
    swimmer_ids = [row[0] for row in db.fetchall()]

# Fetch event IDs from the events table
event_query = "SELECT id FROM events"
with DBcm.UseDatabase(config) as db:
    db.execute(event_query)
    event_ids = [row[0] for row in db.fetchall()]

# Loop through the swimmer IDs and import them into the times table
for swimmer_id in swimmer_ids:
    for event_id in event_ids:
        times_query = """INSERT INTO times (swimmer_id, events_id)
                         VALUES (%s, %s)"""
        # Execute the query to update the times table
        with DBcm.UseDatabase(config) as db:
            db.execute(times_query, (swimmer_id, event_id))

In [125]:
from datetime import datetime
import os
import DBcm

swimdata_folder_path = "swimdata/"
files = os.listdir(swimdata_folder_path)
files.remove(".DS_Store")

SQL = """    
    INSERT INTO times
    (swimmer_id, events_id, time, ts)
    VALUES
    (%s, %s, %s, %s)
"""

unique_times = set()

for name in files:
    swimdata = "swimdata/"
    file_path = swimdata + name

    with open(file_path, 'r') as file:
        content = file.read()
        values = content.split(',')

    print("Original values:", values)

    for value in values:
        unique_times.add(value)
        print("Processed value:", value)

time_now = datetime.now()

with DBcm.UseDatabase(config) as db:
    for unique_time in unique_times:
        db.execute(SQL, (swimmer_id, event_id, unique_time, time_now))
    data = db.fetchall()

Original values: ['1:31.59', '1:26.55', '1:28.75', '1:39.79', '1:32.37\n']
Processed value: 1:31.59
Processed value: 1:26.55
Processed value: 1:28.75
Processed value: 1:39.79
Processed value: 1:32.37

Original values: ['1:42.97', '1:43.31', '1:43.50', '1:40.34\n']
Processed value: 1:42.97
Processed value: 1:43.31
Processed value: 1:43.50
Processed value: 1:40.34

Original values: ['41.50', '43.58', '42.35', '43.35', '39.85', '40.53', '42.14', '39.18', '40.89', '40.89\n']
Processed value: 41.50
Processed value: 43.58
Processed value: 42.35
Processed value: 43.35
Processed value: 39.85
Processed value: 40.53
Processed value: 42.14
Processed value: 39.18
Processed value: 40.89
Processed value: 40.89

Original values: ['48.08', '53.17', '45.76', '49.28', '52.85', '46.19', '47.76', '48.83', '45.71', '47.76\n']
Processed value: 48.08
Processed value: 53.17
Processed value: 45.76
Processed value: 49.28
Processed value: 52.85
Processed value: 46.19
Processed value: 47.76
Processed value: 48.83
Processed value: 45.71
Processed value: 47.76

Original values: ['39.07', '37.66', '36.13', '39.42\n']
Processed value: 39.07
Processed value: 37.66
Processed value: 36.13
Processed value: 39.42

Original values: ['1:36.54', '1:39.10', '1:39.45', '1:42.87\n']
Processed value: 1:36.54
Processed value: 1:39.10
Processed value: 1:39.45
Processed value: 1:42.87

Original values: ['1:27.31', '1:27.00', '1:27.46', '1:22.50', '1:20.39', '1:26.04', '1:20.22\n']
Processed value: 1:27.31
Processed value: 1:27.00
Processed value: 1:27.46
Processed value: 1:22.50
Processed value: 1:20.39
Processed value: 1:26.04
Processed value: 1:20.22

Original values: ['1:34.71', '1:37.87', '1:35.15', '1:37.20', '1:36.29', '1:36.00', '1:35.63', '1:35.42', '1:42.01\n']
Processed value: 1:34.71
Processed value: 1:37.87
Processed value: 1:35.15
Processed value: 1:37.20
Processed value: 1:36.29
Processed value: 1:36.00
Processed value: 1:35.63
Processed value: 1:35.42
Processed value: 1:42.01

Original values: ['1:13.86', '1:12.00', '1:14.69', '1:10.01', '1:12.24', '1:11.00', '1:11.20', '1:12.28', '1:15.46', '1:16.03\n']
Processed value: 1:13.86
Processed value: 1:12.00
Processed value: 1:14.69
Processed value: 1:10.01
Processed value: 1:12.24
Processed value: 1:11.00
Processed value: 1:11.20
Processed value: 1:12.28
Processed value: 1:15.46
Processed value: 1:16.03

Original values: ['30.05', '30.21', '28.86', '30.65', '30.03', '29.64', '29.82\n']
Processed value: 30.05
Processed value: 30.21
Processed value: 28.86
Processed value: 30.65
Processed value: 30.03
Processed value: 29.64
Processed value: 29.82

Original values: ['1:11.34', '1:05.81', '1:05.75', '1:05.82\n']
Processed value: 1:11.34
Processed value: 1:05.81
Processed value: 1:05.75
Processed value: 1:05.82

Original values: ['2:29.06', '2:21.49', '2:24.13', '2:29.40\n']
Processed value: 2:29.06
Processed value: 2:21.49
Processed value: 2:24.13
Processed value: 2:29.40

Original values: ['1:12.71', '1:19.87', '1:14.94', '1:11.53', '1:14.94\n']
Processed value: 1:12.71
Processed value: 1:19.87
Processed value: 1:14.94
Processed value: 1:11.53
Processed value: 1:14.94

Original values: ['1:11.49', '1:10.16', '1:12.59', '1:11.63', '1:09.43\n']
Processed value: 1:11.49
Processed value: 1:10.16
Processed value: 1:12.59
Processed value: 1:11.63
Processed value: 1:09.43

Original values: ['1:02.13', '1:03.25', '1:04.16', '1:03.17', '1:04.84', '1:03.88', '1:04.87\n']
Processed value: 1:02.13
Processed value: 1:03.25
Processed value: 1:04.16
Processed value: 1:03.17
Processed value: 1:04.84
Processed value: 1:03.88
Processed value: 1:04.87

Original values: ['38.79', '39.03', '41.29', '39.66', '41.13', '38.57', '39.40', '41.06', '40.37', '43.05', '37.85\n']
Processed value: 38.79
Processed value: 39.03
Processed value: 41.29
Processed value: 39.66
Processed value: 41.13
Processed value: 38.57
Processed value: 39.40
Processed value: 41.06
Processed value: 40.37
Processed value: 43.05
Processed value: 37.85

Original values: ['39.47', '37.30', '41.90', '42.85', '39.90', '38.66', '38.84', '37.65', '39.68', '37.18', '43.61\n']
Processed value: 39.47
Processed value: 37.30
Processed value: 41.90
Processed value: 42.85
Processed value: 39.90
Processed value: 38.66
Processed value: 38.84
Processed value: 37.65
Processed value: 39.68
Processed value: 37.18
Processed value: 43.61

Original values: ['35.78', '36.19', '36.89', '34.29', '34.18', '35.94\n']
Processed value: 35.78
Processed value: 36.19
Processed value: 36.89
Processed value: 34.29
Processed value: 34.18
Processed value: 35.94

Original values: ['1:29.78', '1:28.38', '1:25.03', '1:25.66\n']
Processed value: 1:29.78
Processed value: 1:28.38
Processed value: 1:25.03
Processed value: 1:25.66

Original values: ['1:21.76', '1:23.32', '1:24.09', '1:21.51\n']
Processed value: 1:21.76
Processed value: 1:23.32
Processed value: 1:24.09
Processed value: 1:21.51

Original values: ['1:28.86', '1:29.90', '1:28.12', '1:28.67\n']
Processed value: 1:28.86
Processed value: 1:29.90
Processed value: 1:28.12
Processed value: 1:28.67

Original values: ['1:22.57', '1:29.64', '1:20.39', '1:23.83\n']
Processed value: 1:22.57
Processed value: 1:29.64
Processed value: 1:20.39
Processed value: 1:23.83

Original values: ['1:30.24', '1:33.18', '1:32.73', '1:33.05', '1:30.81', '1:31.74', '1:31.53', '1:33.05\n']
Processed value: 1:30.24
Processed value: 1:33.18
Processed value: 1:32.73
Processed value: 1:33.05
Processed value: 1:30.81
Processed value: 1:31.74
Processed value: 1:31.53
Processed value: 1:33.05

Original values: ['1:27.95', '1:21.07', '1:30.96', '1:23.22', '1:27.95', '1:28.30\n']
Processed value: 1:27.95
Processed value: 1:21.07
Processed value: 1:30.96
Processed value: 1:23.22
Processed value: 1:27.95
Processed value: 1:28.30

Original values: ['3:03.84', '3:04.27', '3:01.49', '3:04.27', '2:52.44\n']
Processed value: 3:03.84
Processed value: 3:04.27
Processed value: 3:01.49
Processed value: 3:04.27
Processed value: 2:52.44

Original values: ['59.21', '59.27', '58.67', '59.72', '59.17\n']
Processed value: 59.21
Processed value: 59.27
Processed value: 58.67
Processed value: 59.72
Processed value: 59.17

Original values: ['2:35.46', '2:28.30', '2:35.35', '2:28.84\n']
Processed value: 2:35.46
Processed value: 2:28.30
Processed value: 2:35.35
Processed value: 2:28.84

Original values: ['1:06.01', '1:06.93', '1:05.34', '1:06.10\n']
Processed value: 1:06.01
Processed value: 1:06.93
Processed value: 1:05.34
Processed value: 1:06.10

Original values: ['2:01.15', '1:57.86', '1:59.38', '1:57.94', '1:56.97\n']
Processed value: 2:01.15
Processed value: 1:57.86
Processed value: 1:59.38
Processed value: 1:57.94
Processed value: 1:56.97

Original values: ['1:32.21', '1:33.68', '1:34.10', '1:28.57\n']
Processed value: 1:32.21
Processed value: 1:33.68
Processed value: 1:34.10
Processed value: 1:28.57

Original values: ['1:36.72', '1:34.78', '1:34.05', '1:32.78', '1:33.51', '1:33.29', '1:36.47', '1:31.82\n']
Processed value: 1:36.72
Processed value: 1:34.78
Processed value: 1:34.05
Processed value: 1:32.78
Processed value: 1:33.51
Processed value: 1:33.29
Processed value: 1:36.47
Processed value: 1:31.82

Original values: ['1:19.04', '1:15.88', '1:18.62', '1:21.74\n']
Processed value: 1:19.04
Processed value: 1:15.88
Processed value: 1:18.62
Processed value: 1:21.74

Original values: ['3:27.51', '3:34.70', '3:27.15', '3:28.45', '3:34.79', '3:30.21', '3:33.74\n']
Processed value: 3:27.51
Processed value: 3:34.70
Processed value: 3:27.15
Processed value: 3:28.45
Processed value: 3:34.79
Processed value: 3:30.21
Processed value: 3:33.74

Original values: ['1:35.75', '1:32.78', '1:34.01', '1:32.57\n']
Processed value: 1:35.75
Processed value: 1:32.78
Processed value: 1:34.01
Processed value: 1:32.57

Original values: ['1:21.43', '1:21.40', '1:21.62', '1:25.38\n']
Processed value: 1:21.43
Processed value: 1:21.40
Processed value: 1:21.62
Processed value: 1:25.38

Original values: ['1:33.36', '1:31.52', '1:28.10', '1:33.37', '1:32.89', '1:33.38', '1:32.03', '1:32.71\n']
Processed value: 1:33.36
Processed value: 1:31.52
Processed value: 1:28.10
Processed value: 1:33.37
Processed value: 1:32.89
Processed value: 1:33.38
Processed value: 1:32.03
Processed value: 1:32.71

Original values: ['1:50.10', '1:47.12', '1:54.65', '1:51.03\n']
Processed value: 1:50.10
Processed value: 1:47.12
Processed value: 1:54.65
Processed value: 1:51.03

Original values: ['1:20.81', '1:23.61', '1:24.80', '1:22.05', '1:22.58', '1:23.94\n']
Processed value: 1:20.81
Processed value: 1:23.61
Processed value: 1:24.80
Processed value: 1:22.05
Processed value: 1:22.58
Processed value: 1:23.94

Original values: ['43.25', '47.35', '46.12', '45.69\n']
Processed value: 43.25
Processed value: 47.35
Processed value: 46.12
Processed value: 45.69

Original values: ['47.44', '52.32', '57.16', '56.77\n']
Processed value: 47.44
Processed value: 52.32
Processed value: 57.16
Processed value: 56.77

Original values: ['40.11', '45.43', '50.17', '43.58', '52.61\n']
Processed value: 40.11
Processed value: 45.43
Processed value: 50.17
Processed value: 43.58
Processed value: 52.61

Original values: ['38.94', '37.76', '41.83', '42.81\n']
Processed value: 38.94
Processed value: 37.76
Processed value: 41.83
Processed value: 42.81

Original values: ['1:27.10', '1:26.21', '1:26.42', '1:35.79', '1:30.47\n']
Processed value: 1:27.10
Processed value: 1:26.21
Processed value: 1:26.42
Processed value: 1:35.79
Processed value: 1:30.47

Original values: ['1:21.08', '1:11.23', '1:12.46', '1:16.73\n']
Processed value: 1:21.08
Processed value: 1:11.23
Processed value: 1:12.46
Processed value: 1:16.73

Original values: ['45.75', '41.62', '40.49', '41.00\n']
Processed value: 45.75
Processed value: 41.62
Processed value: 40.49
Processed value: 41.00

Original values: ['1:19.23', '1:13.70', '1:13.96', '1:15.94\n']
Processed value: 1:19.23
Processed value: 1:13.70
Processed value: 1:13.96
Processed value: 1:15.94

Original values: ['1:14.55', '1:14.15', '1:08.38', '1:08.74', '1:10.89', '1:09.47', '1:09.52', '1:09.86', '1:09.83\n']
Processed value: 1:14.55
Processed value: 1:14.15
Processed value: 1:08.38
Processed value: 1:08.74
Processed value: 1:10.89
Processed value: 1:09.47
Processed value: 1:09.52
Processed value: 1:09.86
Processed value: 1:09.83

Original values: ['1:02.52', '1:02.56', '1:06.41', '1:07.08', '1:02.56', '1:03.23', '1:04.54\n']
Processed value: 1:02.52
Processed value: 1:02.56
Processed value: 1:06.41
Processed value: 1:07.08
Processed value: 1:02.56
Processed value: 1:03.23
Processed value: 1:04.54

Original values: ['2:19.77', '2:41.57', '2:27.88', '2:37.28\n']
Processed value: 2:19.77
Processed value: 2:41.57
Processed value: 2:27.88
Processed value: 2:37.28

Original values: ['2:48.05', '2:44.03', '2:38.93', '2:54.86\n']
Processed value: 2:48.05
Processed value: 2:44.03
Processed value: 2:38.93
Processed value: 2:54.86

Original values: ['1:15.57', '1:14.40', '1:19.82', '1:12.90\n']
Processed value: 1:15.57
Processed value: 1:14.40
Processed value: 1:19.82
Processed value: 1:12.90

Original values: ['1:17.16', '1:16.65', '1:23.11', '1:14.37', '1:18.16', '1:18.28', '1:16.87', '1:17.37', '1:20.46\n']
Processed value: 1:17.16
Processed value: 1:16.65
Processed value: 1:23.11
Processed value: 1:14.37
Processed value: 1:18.16
Processed value: 1:18.28
Processed value: 1:16.87
Processed value: 1:17.37
Processed value: 1:20.46

Original values: ['1:07.99', '1:11.87', '1:11.08', '1:09.75\n']
Processed value: 1:07.99
Processed value: 1:11.87
Processed value: 1:11.08
Processed value: 1:09.75

Original values: ['2:56.68', '2:42.63', '2:40.90', '2:42.88', '2:46.09\n']
Processed value: 2:56.68
Processed value: 2:42.63
Processed value: 2:40.90
Processed value: 2:42.88
Processed value: 2:46.09

Original values: ['2:22.64', '2:28.16', '2:28.38', '2:25.08', '2:25.64', '2:33.58\n']
Processed value: 2:22.64
Processed value: 2:28.16
Processed value: 2:28.38
Processed value: 2:25.08
Processed value: 2:25.64
Processed value: 2:33.58

Original values: ['5:11.32', '5:04.12', '5:20.67', '5:08.31', '5:04.32', '5:06.77', '5:13.01\n']
Processed value: 5:11.32
Processed value: 5:04.12
Processed value: 5:20.67
Processed value: 5:08.31
Processed value: 5:04.32
Processed value: 5:06.77
Processed value: 5:13.01

Original values: ['1:19.63', '1:16.69', '1:19.68', '1:16.56\n']
Processed value: 1:19.63
Processed value: 1:16.69
Processed value: 1:19.68
Processed value: 1:16.56

Original values: ['1:20.59', '1:26.48', '1:24.15', '1:21.96\n']
Processed value: 1:20.59
Processed value: 1:26.48
Processed value: 1:24.15
Processed value: 1:21.96

Original values: ['1:08.87', '1:07.34', '1:11.00', '1:08.62', '1:10.94', '1:09.52', '1:12.04', '1:10.91\n']
Processed value: 1:08.87
Processed value: 1:07.34
Processed value: 1:11.00
Processed value: 1:08.62
Processed value: 1:10.94
Processed value: 1:09.52
Processed value: 1:12.04
Processed value: 1:10.91

Original values: ['2:54.14', '3:03.58', '3:02.43', '2:57.99\n']
Processed value: 2:54.14
Processed value: 3:03.58
Processed value: 3:02.43
Processed value: 2:57.99

In [132]:
from datetime import datetime
import os
import DBcm

swimdata_folder_path = "swimdata2/"
files = os.listdir(swimdata_folder_path)
files.remove(".DS_Store")

SQL = """    
    INSERT INTO times
    (swimmer_id, events_id, time, ts)
    VALUES
    (%s, %s, %s, %s)
"""

unique_times = set()

for name in files:
    swimdata = "swimdata2/"
    file_path = swimdata + name

    with open(file_path, 'r') as file:
        content = file.read()
        values = content.split(',')

    print("Original values:", values)

    for value in values:
        unique_times.add(value)
        print("Processed value:", value)

time_now = datetime.now()

with DBcm.UseDatabase(config) as db:
    for unique_time in unique_times:
        db.execute(SQL, (swimmer_id, event_id, unique_time, time_now))
    data = db.fetchall()

Original values: ['1:26.55', '1:39.79', '1:28.75', '1:32.37', '1:31.59\n']
Processed value: 1:26.55
Processed value: 1:39.79
Processed value: 1:28.75
Processed value: 1:32.37
Processed value: 1:31.59

Original values: ['1:42.97', '1:43.31', '1:40.34', '1:43.50\n']
Processed value: 1:42.97
Processed value: 1:43.31
Processed value: 1:40.34
Processed value: 1:43.50

Original values: ['1:19.87', '1:11.53', '1:14.94', '1:12.71', '1:14.94\n']
Processed value: 1:19.87
Processed value: 1:11.53
Processed value: 1:14.94
Processed value: 1:12.71
Processed value: 1:14.94

Original values: ['1:12.59', '1:11.63', '1:09.43', '1:10.16', '1:11.49\n']
Processed value: 1:12.59
Processed value: 1:11.63
Processed value: 1:09.43
Processed value: 1:10.16
Processed value: 1:11.49

Original values: ['1:02.13', '1:03.17', '1:04.84', '1:03.88', '1:04.87', '1:04.16', '1:03.25\n']
Processed value: 1:02.13
Processed value: 1:03.17
Processed value: 1:04.84
Processed value: 1:03.88
Processed value: 1:04.87
Processed value: 1:04.16
Processed value: 1:03.25

Original values: ['1:22.57', '1:29.64', '1:23.83', '1:20.39\n']
Processed value: 1:22.57
Processed value: 1:29.64
Processed value: 1:23.83
Processed value: 1:20.39

Original values: ['1:30.24', '1:33.05', '1:33.05', '1:32.73', '1:30.81', '1:33.18', '1:31.74', '1:31.53\n']
Processed value: 1:30.24
Processed value: 1:33.05
Processed value: 1:33.05
Processed value: 1:32.73
Processed value: 1:30.81
Processed value: 1:33.18
Processed value: 1:31.74
Processed value: 1:31.53

Original values: ['1:23.22', '1:21.07', '1:27.95', '1:27.95', '1:28.30', '1:30.96\n']
Processed value: 1:23.22
Processed value: 1:21.07
Processed value: 1:27.95
Processed value: 1:27.95
Processed value: 1:28.30
Processed value: 1:30.96

Original values: ['2:52.44', '3:01.49', '3:04.27', '3:04.27', '3:03.84\n']
Processed value: 2:52.44
Processed value: 3:01.49
Processed value: 3:04.27
Processed value: 3:04.27
Processed value: 3:03.84

Original values: ['40.89', '41.50', '42.35', '40.53', '40.89', '42.14', '43.58', '39.85', '43.35', '39.18\n']
Processed value: 40.89
Processed value: 41.50
Processed value: 42.35
Processed value: 40.53
Processed value: 40.89
Processed value: 42.14
Processed value: 43.58
Processed value: 39.85
Processed value: 43.35
Processed value: 39.18

Original values: ['47.76', '46.19', '49.28', '45.71', '48.08', '53.17', '48.83', '52.85', '47.76', '45.76\n']
Processed value: 47.76
Processed value: 46.19
Processed value: 49.28
Processed value: 45.71
Processed value: 48.08
Processed value: 53.17
Processed value: 48.83
Processed value: 52.85
Processed value: 47.76
Processed value: 45.76

Original values: ['39.42', '36.13', '37.66', '39.07\n']
Processed value: 39.42
Processed value: 36.13
Processed value: 37.66
Processed value: 39.07

Original values: ['58.67', '59.72', '59.21', '59.27', '59.17\n']
Processed value: 58.67
Processed value: 59.72
Processed value: 59.21
Processed value: 59.27
Processed value: 59.17

Original values: ['2:35.46', '2:28.30', '2:28.84', '2:35.35\n']
Processed value: 2:35.46
Processed value: 2:28.30
Processed value: 2:28.84
Processed value: 2:35.35

Original values: ['1:32.71', '1:28.10', '1:33.36', '1:32.89', '1:33.37', '1:31.52', '1:33.38', '1:32.03\n']
Processed value: 1:32.71
Processed value: 1:28.10
Processed value: 1:33.36
Processed value: 1:32.89
Processed value: 1:33.37
Processed value: 1:31.52
Processed value: 1:33.38
Processed value: 1:32.03

Original values: ['1:54.65', '1:51.03', '1:47.12', '1:50.10\n']
Processed value: 1:54.65
Processed value: 1:51.03
Processed value: 1:47.12
Processed value: 1:50.10

Original values: ['1:24.80', '1:20.81', '1:23.61', '1:23.94', '1:22.05', '1:22.58\n']
Processed value: 1:24.80
Processed value: 1:20.81
Processed value: 1:23.61
Processed value: 1:23.94
Processed value: 1:22.05
Processed value: 1:22.58

Original values: ['1:35.96', '1:31.58', '1:32.96', '1:35.82\n']
Processed value: 1:35.96
Processed value: 1:31.58
Processed value: 1:32.96
Processed value: 1:35.82

Original values: ['46.12', '47.35', '43.25', '45.69\n']
Processed value: 46.12
Processed value: 47.35
Processed value: 43.25
Processed value: 45.69

Original values: ['56.77', '57.16', '47.44', '52.32\n']
Processed value: 56.77
Processed value: 57.16
Processed value: 47.44
Processed value: 52.32

Original values: ['52.61', '40.11', '43.58', '50.17', '45.43\n']
Processed value: 52.61
Processed value: 40.11
Processed value: 43.58
Processed value: 50.17
Processed value: 45.43

Original values: ['37.76', '38.94', '41.83', '42.81\n']
Processed value: 37.76
Processed value: 38.94
Processed value: 41.83
Processed value: 42.81

Original values: ['41.62', '40.49', '41.00', '45.75\n']
Processed value: 41.62
Processed value: 40.49
Processed value: 41.00
Processed value: 45.75

Original values: ['1:14.40', '1:15.57', '1:19.82', '1:12.90\n']
Processed value: 1:14.40
Processed value: 1:15.57
Processed value: 1:19.82
Processed value: 1:12.90

In [127]:
# # Open the file in read mode
# file_path = 'swimdata/Abi-10-100m-Back.txt'  # Replace 'your_file.txt' with the actual file path
# with open(file_path, 'r') as file:
#     # Read the content of the file
#     content = file.read()

#     # Split the content into individual values based on commas
#     values = content.split(',')

#     # Loop through the values and print or process each one
#     for value in values:
#         # Do something with each value, for example, print it
#         print(value.strip())  # strip() is used to remove leading and trailing whitespaces

In [128]:
SQL2 = """INSERT into times(swimmer_id, event_id, time, ts)
VALUES (%s, %s, %s, %s) """

In [129]:
# with DBcm.UseDatabase(config) as db:
#     db.execute(SQL2,(swimmerid, eventid, value, time))

In [130]:
from datetime import datetime
time = datetime.now()
print(time)

2023-12-06 05:40:25.596092

In [131]:
# with DBcm.UseDatabase(config) as db:
#     db.execute(SQL2,(swimmerid, eventid, value, time))